.tabs {
  width: 100%;
}

.tabList {
  background-color: #875F94;
  color: #cccccc;
  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
}

.tab {
  display: table-cell;
  list-style: none;
  padding: 18px 12px;
  cursor: pointer;
  text-align: center;
}

.tab:hover {
  border-bottom: 3px solid #EB8631;
  color: white;
}
.tabList .tabSelected {
  border-bottom: 3px solid indigo;
  color: white;
}

.tabPanel {
  margin: 15px;
}

.map {
  width: 100%;
}

.detailsTitle {
  font-weight: bold;
}

.detailsText {
  margin-bottom: 12px;
}
